<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="\styles\pod.css">
    <title>{{ .Site.Title }}</title>
</head>

<body>
    <header>
        <h1>Página dos podcasts</h1>
        <img src="/images/logo.png">
    </header>

    <main>
        <div class = "container">
            <h2>Aqui se encontram todos os áudios produzidos durante a criação desse site:</h2>

            <h3>Episódio 1:</h3>
            <audio controls>
                <source src="\audio\pod1.wav" type="audio/wav">
            </audio>

            <h3>Episódio 2:</h3>
            <audio controls>
                <source src="\audio\pod2.wav" type="audio/wav">
            </audio>

            <h3>Episódio 3:</h3>
            <audio controls>
                <source src="\audio\pod3.wav" type="audio/wav">
            </audio>

            <h3>Episódio 4:</h3>
            <audio controls>
                <source src="\audio\pod4.wav" type="audio/wav">
            </audio>

            <h3>Episódio 5:</h3>
            <audio controls>
                <source src="\audio\pod5.wav" type="audio/wav">
            </audio>

        </div>
    </main>

    <footer>
        <nav>
            <ul>
                <h1>{{ .Site.Title}}</h1>
                <li><a class = "menu" href="{{ relURL "" }}">Home</a></li>
                <li><a class = "menu" href="{{ relURL "about" }}">Sobre</a></li>
                <li><a class = "menu" href="{{ relURL "descrições" }}">Descrições</a></li>
            </ul>
        </nav>  
    </footer>
</body>

</html>